html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/5.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* navbar collapse */
.top-nav-collapse {
    background:-webkit-linear-gradient(50deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
    background:-o-linear-gradient(50deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
    background:linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
}
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background:-webkit-linear-gradient(50deg,rgba(201, 213, 224, 0.9),rgba(5,255,163,.9))!important;
      background:-o-linear-gradient(50deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
      background:linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background:-webkit-linear-gradient(50deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
      background:-o-linear-gradient(50deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
      background:linear-gradient(40deg,rgba(32,150,255,.9),rgba(5,255,163,.9))!important;
    }
  }